<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NEWSai - TAILERED NEWS TO YOU{% endblock %}</title>
    
    <!-- Link to CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>NEWSai - tailered news</h1>
        <nav>
            <a href="{{ url_for('home') }}">home</a>
            <a href="{{ url_for('report') }}">reporter</a>
            <a href="{{ url_for('direct') }}">director</a> <!-- Correct this -->
            <a href="{{ url_for('anchor') }}">anchor</a>
            <a href="{{ url_for('paper') }}">paper</a>
            
        </nav>
    </header>

    <main>
        <!-- This is where the content for each page will be inserted -->
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Footer content here</p>
    </footer>

    <!-- Link to JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
